<h1>Listing Tenants</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @property.tenants.each do |tenant| %>
        <% rel = TenantOf.find_by(user_id: tenant.id, property_id: @property.id) %>
        <tr>
          <td><%= tenant.first_name + " " + tenant.last_name %></td>
          <td><%= @property.name %></td>

          <td> 
            <%= link_to "Display Contact Information", tenant_of_path(rel), class: 'pull-right btn btn-large btn-success' %>
          </td> 
    
          <td>
            <%= link_to 'Remove Tenant From Property', tenant_of_path(rel), class: 'pull-right btn btn-large btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %> 
          </td>        
        </tr>
      <% end %> 
  </tbody>
</table>

<%= link_to "Back", property_path(@property.id), class: "btn btn-large btn-info" %>