<p id="notice"><%= notice %></p>


<div class="col-md-9">
    <p class="lead">
      <strong>Name:</strong>
      <%= @tenant.first_name %> <%= @tenant.last_name %> 
    </p>

    <p class="lead"><strong>Email: </strong><%= @tenant.email %></p>
    <p class="lead"><strong>Phone Number: </strong><%= @tenant.phone_number %></p>


	<%= link_to 'Edit',  edit_tenant_of_path(@tenant_of), class: 'btn btn-large btn-danger' %>  |
	<a class="btn btn-large btn-info" href="..?propertyID=<%= @property %>" role="button"> back</a>
 </div>

