<h1>Listing applications</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Tenant Name</th>
      <th>Property Name</th>
      <th>Price offer</th>
      <th>Property Manager</th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr class="clickableRow" href= "<%= application_path(application) %>">
        <td><%= application.user.first_name + " " + application.user.last_name %></td>
        <td><%= application.property.name %></td>
        <td><%= number_to_currency(application.price_offer) %></td>
        <td><%= application.property.user.first_name %> <%= application.property.user.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
$(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
});
</script>