<p>
  <strong>Date/Time:</strong>
  <%= @application.updated_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @application.user.first_name + " " + @application.user.last_name %>
</p>

<p>
  <strong>Property:</strong>
  <%= @application.property.name %>
</p>

<p>
  <strong>Price offer:</strong>
  <%= @application.price_offer %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @application.conditions %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
