<p>
  <strong>Date/Time:</strong>
  <%= @application.updated_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @application.user.first_name + " " + @application.user.last_name %>
</p>

<p>
  <strong>Address:</strong><br>
  <%= @application.user.address %><br>
  <%= @application.user.city %>,  <%= @application.user.state %> <%= @application.user.zip_code %>
</p>

<p>
  <strong>Email:</strong><br>
  <%= @application.user.email %><br>
</p>

<p>
  <strong>Phone:</strong><br>
  <%= @application.user.phone_number %><br>
</p>

<p>
  <strong>Property:</strong>
  <%= @application.property.name %>
</p>

<p>
  <strong>Price offer:</strong>
  <%= number_to_currency(@application.price_offer) %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @application.conditions %>
</p>
<% if @user.id == @application.user.id %>
  <%= link_to 'Edit', edit_application_path(@application), class: "btn btn-warning" %> | 
  <%= link_to 'Delete', application_path(@application), method: :delete, class: "btn btn-danger",  data: { confirm: 'Are you sure?' } %> | 
<% end %>
<%= link_to 'Back', applications_path, class: "btn btn-default" %>
