<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <div class="field form-group form_padding">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field form-group form_padding">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="form-inline">
    <div class="field form-group form_padding">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>
    <div class="field form-group form_padding">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field form-group form_padding">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

   <div class="form-inline">
    <div class="field form-group form_padding">
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </div>
    <div class="field form-group form_padding">
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field form-group form_padding">
      <%= f.label :state %><br>
      <%= f.text_field :state %>
    </div>
    <div class="field form-group form_padding">
      <%= f.label :zip_code %><br>
      <%= f.text_field :zip_code %>
    </div>
  </div>

  <div class="form-inline">
    <div class="field form-group form_padding">
      <%= f.label :phone_number %><br>
      <%= f.phone_field :phone_number %>
    </div>
    <div class="field form-group form_padding">
      <%= f.label :user_type %><br>
      <%= f.select :user_type, User::USER_TYPES, prompt: "What kind of user are you?" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :picture_url %><br>
    <%= f.text_field :picture_url %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
