<%= image_tag @user.picture_url, class: "image-responsive col-md-2"%>


<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @user.website %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-large btn-default" %>

<!-- Show the properties that are being managed -->
<p>
  <h2>Associated Properties:</h2>
</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Available</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Title</th>
      <th>Role</th>
    </tr>
  </thead>

    <tbody>

      <!-- Displays all properties user manages -->
        <% @user.properties.each do |property| %>
          <% if property.user_id == @user.id %>
            <tr class="clickableRow" href="<%= property_path(property.id) %>">
              <td><%= property.is_available %></td>
              <td><%= property.beds %></td>
              <td><%= property.baths %></td>
              <td><%= property.name %> </td>
              <td>Manager</td>
            </tr>
          <% end %>
        <% end %>

        <!-- Displays all properties user is tenant of -->
        <% @user.rented_properties.each do |property| %>
            <tr class="clickableRow" href= "<%= property_path(property.id) %>">
              <td><%= property.is_available %></td>
              <td><%= property.beds %></td>
              <td><%= property.baths %></td>
              <td><%= property.name %> </td>
              <td>Tenant</td>
            </tr> 
        <% end %>

  </tbody>
</table>

<br>
<script>
$(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
});
</script>