<%= image_tag @user.picture_url, class: "image-responsive col-md-2"%>


<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @user.website %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-large btn-default" %> |
<%= link_to 'Back', users_path, class: "btn btn-large btn-info" %>

<!-- Show the properties that are being managed -->
<p>
  <h2>Associated Properties:</h2>
</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Available</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

    <tbody>

      <% if @user.user_type == "Manager" %>
        <!-- Displays all properties user manages -->
        <% @properties.each do |property| %>
          <% if property.user_id == @user.id %>
            <tr class="clickableRow" href="<%= property_path(property.id) %>">
              <td><%= property.is_available %></td>
              <td><%= property.beds %></td>
              <td><%= property.baths %></td>
              <td><%= property.name %> </td>
            </tr>
          <% end %>
        <% end %>


      <% else %>
        <!-- Displays all properties user is tenant of -->
        <% @tenant_ofs.each do |tenant| %>
          <% if tenant.User_id == @user.id %>
            <% currproperty = Property.find_by(id: tenant.Property_id)  %>
            <tr class="clickableRow" href= "/properties/<%= tenant.Property_id %>">
              <td><%= currproperty.is_available %></td>
              <td><%= currproperty.beds %></td>
              <td><%= currproperty.baths %></td>
              <td><%= currproperty.name %> </td>
            </tr> 
          <% end %>
        <% end %>


      <% end %>




  </tbody>
</table>

<br>