<h1>Available Properties</h1>

 <% @properties.each do |property| %>

  <div class="row">
    <div class="col-md-3">
      <%= link_to(image_tag(property.image_url, :alt => "property_photo", class: "col-md-10"), property_path(property.id)) %>
      
    </div>
    <div class="col-md-9">
      <h2>
        <%= link_to property.name, property_path(property) %>
        (<%= number_to_currency(property.price) %>)
      </h2>
      <p class="lead"><%= property.description %></p>
        <%= link_to "Apply", new_application_path(propertyID: property.id), class: "btn btn-success"  %> |
        <!-- link to send link to the owner of the property -->
        <%= mail_to property.user.email, "Contact Manager", {subject: property.name, class: "btn btn-default"}  %>
      </p>
    </div>
  </div>    
 <% end %>

 <% if @user && @user.user_type == "Manager" %>
  <%= link_to 'New Property', new_property_path, class: "btn btn-success pull-left" %>
<% end if %>






