<div class="page-header">

  <!-- Manager related features - buttons -->
  <!-- Inclues Edit Property, Delete Property, View Tenants, and Add Tenants -->
  <% if session[:user_id] == @manager_id %>
    <%= link_to "Edit This Property", edit_property_path(@property), class: 'pull-right btn btn-large btn-info' %>
    <%= link_to "Delete This Property", property_path(@property), method: 'delete', class: 'pull-right btn btn-large btn-danger' %>
    <a class="pull-right btn btn-large btn-warning" href="../tenant_ofs?propertyID=<%= @property.id %>" role="button">View Tenants</a>
    <a class="pull-right btn btn-large btn-success" href="../tenant_ofs/new?propertyID=<%= @property.id %>" role="button">Add Tenant</a>
  <% end if %>

  <!-- Only make payment if tenant of property and Active -->
  <% #if @property.Tenant_ofs.user_id == @user_id && @property.Tenant_ofs.is_active = true %>
  <% if @user.user_type == "Tenant" %>  
    <%= link_to 'New Payment', new_payment_path(propertyID: @property), class: 'pull-right btn btn-large btn-success'%>
  <% end if %>

  <!-- Can only submit application if a tenant -->
  <% if @user.user_type == "Tenant" %>
    <%= mail_to @property.user.email, "Contact Manager", {subject: @property.name, class: 'pull-right btn btn-large btn-warning'} %>
    <%= link_to 'Submit Application', new_application_path(propertyID: @property), class: 'pull-right btn btn-large btn-info'%>
    
  <% end if %>



  <h1><%= @property.name %></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <%= image_tag @property.image_url, class: 'resized-image' %>
  </div>
  <div class="col-md-9">
    <p class="lead">
      <strong>Title:</strong>
      <%= @property.name %>
    </p>
    <p class="lead"><strong>Manager: </strong>
      <%= User.find_by(id: @manager_id).first_name %>
      <%= User.find_by(id: @manager_id).last_name %>
    </p>
    <p class="lead"><strong>Description: </strong><%= @property.description %></p>
    <p class="lead"><strong>Rent: </strong><%= @property.price %></p>
    <p class="lead"><strong># Beds: </strong><%= @property.beds %></p>
    <p class="lead"><strong># Baths: </strong><%= @property.baths %></p>
    <p class="lead"><strong>Square Feet: </strong><%= @property.square_feet %></p>
    <p class="lead"><strong>Address: </strong><%= @property.address %></p>
    <p class="lead"><strong>City: </strong><%= @property.city %></p>
    <p class="lead"><strong>State: </strong><%= @property.state %></p>
    <p class="lead"><strong>Zip Code: </strong><%= @property.zip_code %></p>
    <p class="lead"><strong>Laundry: </strong><%= @property.has_laundry %></p>
    <p class="lead"><strong>Parking: </strong><%= @property.has_parking %></p>
    <p class="lead"><strong>First Posted: </strong><%= @property.created_at %></p>

  </div>
</div>

  