<div class="page-header">

  <% if session[:user_id] == @manager_id %>
  <%= link_to "Edit This Property", edit_property_path(@property), class: 'pull-right btn btn-large btn-info' %>
  <%= link_to "Delete This Property", property_path(@property), method: 'delete', class: 'pull-right btn btn-large btn-danger' %>
<!--   sending to the show page, not the index page -- look into this -->

  
  <a class="pull-right btn btn-large btn-warning" href="../tenant_ofs?propertyID=<%= @property.id %>" role="button">
  View Tenants</a>

  <% end if %>

  <h1><%= @property.name %></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <%= image_tag @property.image_url, class: 'resized-image' %>
  </div>
  <div class="col-md-9">
    <p class="lead">
      <strong>Title:</strong>
      <%= @property.name %>
    </p>
    <p class="lead"><strong>Manager: </strong>
      <%= User.find_by(id: @manager_id).first_name %>
      <%= User.find_by(id: @manager_id).last_name %>
    </p>
    <p class="lead"><strong>Description: </strong><%= @property.description %></p>
    <p class="lead"><strong>Rent: </strong><%= @property.price %></p>
    <p class="lead"><strong># Beds: </strong><%= @property.beds %></p>
    <p class="lead"><strong># Baths: </strong><%= @property.baths %></p>
    <p class="lead"><strong>Square Feet: </strong><%= @property.square_feet %></p>
    <p class="lead"><strong>Address: </strong><%= @property.address %></p>
    <p class="lead"><strong>City: </strong><%= @property.city %></p>
    <p class="lead"><strong>State: </strong><%= @property.state %></p>
    <p class="lead"><strong>Zip Code: </strong><%= @property.zip_code %></p>
    <p class="lead"><strong>Laundry: </strong><%= @property.has_laundry %></p>
    <p class="lead"><strong>Parking: </strong><%= @property.has_parking %></p>
    <p class="lead"><strong>First Posted: </strong><%= @property.created_at %></p>





    <%= link_to "Apply", '#' %> |
    <!-- link to send link to the owner of the property -->
    <%= link_to "Contact Seller", href="mailto:#{User.find_by(id: @manager_id).email}" %>

  </div>
</div>

  