<div class="page-header">
  <%= link_to "Edit This Property", edit_property_path(@property), class: 'pull-right btn btn-large btn-info' %>
  <%= link_to "Delete This Property", property_path(@property), method: 'delete', class: 'pull-right btn btn-large btn-danger' %>

  <h1><%= @property.name %></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <%= image_tag @property.image_url, class: 'resized-image' %>
  </div>
  <div class="col-md-9">
    <p class="lead">
      <strong>Title:</strong>
      <%= @property.name %>
    </p>
    <p class="lead"><strong>Description: </strong><%= @property.description %></p>
    <p class="lead"><strong>Rent: </strong><%= @property.price %></p>
    <p class="lead"><strong># Beds: </strong><%= @property.beds %></p>
    <p class="lead"><strong># Baths: </strong><%= @property.baths %></p>
    <p class="lead"><strong>SF: </strong><%= @property.square_feet %></p>
    <p class="lead"><strong>Address: </strong><%= @property.address %></p>

  </div>
</div>

