<h1>Listing payments</h1>

<table>
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Tenant Name</th>
      <th>Property Owner</th>
      <th>Amount</th>
      <th>Bank routing number</th>
      <th>Bank account number</th>
      <th>Account type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <!-- finds the manager of the property -->
        <% property = Property.find_by(id: payment.property_id).user_id %>
        <% manager = User.find_by(id: property ) %>
        <td><%= payment.updated_at %></td>
        <td><%= payment.user.first_name + " " + payment.user.last_name%></td>
        <td><%= manager.first_name + " " + manager.last_name %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.bank_routing_number %></td>
        <td><%= payment.bank_account_number %></td>
        <td><%= payment.account_type %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
