<p>
  <strong>Time:</strong>
  <%= @payment.updated_at %>
</p>

<p>
  <strong>Tenant Name:</strong>
  <%= @payment.user.first_name + " " + @payment.user.last_name %>
</p>

<p>
  <strong>Manager Name:</strong>
  <%= @payment.property.user.first_name + " " + @payment.property.user.last_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@payment.amount) %>
</p>

<p>
  <strong>Bank routing number:</strong>
  <%= @payment.bank_routing_number %>
</p>

<p>
  <strong>Bank account number:</strong>
  <%= @payment.bank_account_number %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @payment.account_type %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment), class: "btn btn-default" %> |
<%= link_to 'Back', payments_path, class: "btn btn-default" %>
