<!DOCTYPE html>
<html>
<head>
  <title>Chicago Real Estate</title>
  <%= favicon_link_tag "house_icon.ico" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
